<a href="https://colab.research.google.com/github/MaestreCarlo/Exercisess/blob/main/Maestre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
from sklearn.impute import KNNImputer
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Xxzero3211/Delete/main/titanic.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
missing_data_summary = df.isnull().sum()

In [32]:
df['Age'] = pd.to_numeric(df['Age']).round().astype('Int64' , errors= 'ignore')

In [33]:
df['Fare']= pd.to_numeric(df['Fare']).round().astype('Int64' , errors= 'ignore')

In [35]:
df['Name'] = df['Name'].astype("category")

In [36]:
df['Sex'] = df['Sex'].astype("category")

In [37]:
df['Cabin'] = df['Cabin'].astype("category")

In [38]:
df['Embarked'] = df['Embarked'].astype("category")

In [51]:
df['Embarked'].fillna(df['Embarked'].mode(0), inplace=True)

In [39]:
df['Ticket'] = df['Ticket'].astype("category")

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 258 to 737
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   3 non-null      int64
 1   Survived      3 non-null      int64
 2   Pclass        3 non-null      int64
 3   Name          3 non-null      category
 4   Sex           3 non-null      category
 5   Age           3 non-null      Int64
 6   SibSp         3 non-null      int64
 7   Parch         3 non-null      int64
 8   Ticket        3 non-null      category
 9   Fare          3 non-null      Int64
 10  Cabin         2 non-null      category
 11  Embarked      3 non-null      category
 12  standardized  3 non-null      float64
 13  Fare_scaled   3 non-null      float64
 14  Age_scaled    3 non-null      float64
dtypes: Int64(2), category(5), float64(3), int64(5)
memory usage: 897.0 bytes

In [41]:
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age             0
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           1
Embarked        0
standardized    0
Fare_scaled     0
Age_scaled      0
dtype: int64

In [42]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,standardized,Fare_scaled,Age_scaled
258,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
679,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
737,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
df["Age"].fillna(df['Age'].mean(),inplace = True)

In [44]:
df['Name'].head()

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: category
Categories (3, object): ['Cardeza, Mr. Thomas Drake Martinez', 'Lesurer, Mr. Gustave J', 'Ward, Miss. Anna']

In [45]:
numerical_df = df.select_dtypes(include=['number'])

In [48]:
imputer = KNNImputer(n_neighbors=5)

In [49]:
df_imputed = imputer.fit_transform(numerical_df)